# Python environment
env/
venv/
.env/
myproject/env/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Media files
media/

# Logs and outputs
*.log
flake8_output.txt
